/*
THEME: Eventre - Event and Conference Template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/eventre-event-conference-website-template/
DEMO: https://demo.themefisher.com/eventre/
GITHUB: https://github.com/themefisher/Eventre-Event-Conference-Template/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
*/

@import 'variables.scss';

@import 'media-queries.scss';

@import 'typography.scss';

@import 'lists.scss';

@import 'common.scss';

@import 'button.scss';

@import 'components/navigation.scss';

@import 'components/page-title.scss';

@import 'components/footer.scss';

@import 'components/call-to-action.scss';

@import 'pages/home.scss';

@import 'pages/speaker.scss';

@import 'pages/gallery.scss';

@import 'pages/blog.scss';

@import 'pages/about.scss';

@import 'pages/404.scss';

@import 'pages/faq.scss';

@import 'pages/contact.scss';