<!-- Featured Member -->
<div class="founder">
	<!-- Member Image -->
	<img class="img-fluid" src="@@img-src" alt="featured-member">
	<!-- Name -->
	<h2>@@name</h2>
	<!-- position -->
	<cite>@@position</cite>
	<!-- Description -->
	<p>@@description</p>
	<!-- Social Sites -->
	<ul class="list-inline social-links">
		<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
		<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
		<li class="list-inline-item"><a href="#"><i class="tf-ion-social-instagram"></i></a></li>
		<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble"></i></a></li>
	</ul>
</div>