
<!--===================================
=            Pricing Table            =
====================================-->

<section class="section pricing">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Get <span class="alternate">ticket</span></h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor incididunt ut labore</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<!-- Pricing Item -->
				<div class="pricing-item">
					<div class="pricing-heading">
						<!-- Title -->
						<div class="title">
							<h6>Starter</h6>
						</div>
						<!-- Price -->
						<div class="price">
							<h2>39.00<span>$</span></h2>
							<p>/Person</p>
						</div>
					</div>
					<div class="pricing-body">
						<!-- Feature List -->
						<ul class="feature-list m-0 p-0">
							<li><p><span class="fa fa-check-circle available"></span>1 Comfortable Seats</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Free Lunch and Coffee</p></li>
							<li><p><span class="fa fa-times-circle unavailable"></span>Certificate</p></li>
							<li><p><span class="fa fa-times-circle unavailable"></span>Easy Access</p></li>
						</ul>
					</div>
					<div class="pricing-footer text-center">
						<a href="#" class="btn btn-transparent-md">Buy a ticket</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Pricing Item -->
				<div class="pricing-item featured">
					<div class="pricing-heading">
						<!-- Title -->
						<div class="title">
							<h6>Standard</h6>
						</div>
						<!-- Price -->
						<div class="price">
							<h2>49.00<span>$</span></h2>
							<p>/Person</p>
						</div>
					</div>
					<div class="pricing-body">
						<!-- Feature List -->
						<ul class="feature-list m-0 p-0">
							<li><p><span class="fa fa-check-circle available"></span>1 Comfortable Seats</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Free Lunch and Coffee</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Certificate</p></li>
							<li><p><span class="fa fa-times-circle unavailable"></span>Easy Access</p></li>
						</ul>
					</div>
					<div class="pricing-footer text-center">
						<a href="#" class="btn btn-main-md">Buy a ticket</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-auto">
				<!-- Pricing Item -->
				<div class="pricing-item">
					<div class="pricing-heading">
						<!-- Title -->
						<div class="title">
							<h6>Platinum</h6>
						</div>
						<!-- Price -->
						<div class="price">
							<h2>99.00<span>$</span></h2>
							<p>/Person</p>
						</div>
					</div>
					<div class="pricing-body">
						<!-- Feature List -->
						<ul class="feature-list m-0 p-0">
							<li><p><span class="fa fa-check-circle available"></span>1 Comfortable Seats</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Free Lunch and Coffee</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Certificate</p></li>
							<li><p><span class="fa fa-check-circle available"></span>Easy Access</p></li>
						</ul>
					</div>
					<div class="pricing-footer text-center">
						<a href="#" class="btn btn-transparent-md">Buy a ticket</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Pricing Table  ====-->
