<!-- Team -->
<div class="team-sm">
	<!-- Team Member Image -->
	<div class="image">
		<img class="img-fluid" src="@@img-src" alt="member-image">
		<!-- Social Contacts -->
		<div class="social-links">
			<ul class="list-inline">
				<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="tf-ion-social-instagram"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- Name -->
	<h3>@@name</h3>
	<!-- Position -->
	<cite>@@position</cite>
	<!-- Description -->
	<p>@@description</p>
</div>